:root {
    --heading: #1f2937;
    --body: #4b5563;
    --border: 1px solid #e5e7eb;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* 
 Perform a mobile device first styling. 
 So all styling happening before any media 
 query will apply to the mobile only.
*/
body {
    font-family: "Inter", sans-serif;
    color: var(--body);
}

h1 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inner-container {
    max-width: 80rem;
    margin: auto;
    padding: 3rem 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem 1rem;
    border: var(--border);
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
}

img {
    border-radius: 0.25rem;
}

h1,
h2 {
    color: var(--heading);
}

h2 {
    order: -1;
    text-align: center;
}

p {
    margin-bottom: 1rem;
}

/* Media Query For medium size screens */
@media screen and (min-width: 40rem) {
    .flex-container {
        flex-direction:row;
        flex-wrap: wrap;

        /* Instead of flex-direction and flex-wrap we can use flex-flow as a shorthand property:display
            eg. flex-flow: row wrap;
        */
    }
    .card {
        width: calc((100% - 1rem)/2);
    }
    h2 {
        order: 0;
        text-align: left;
    }
}
/* Media Query For large size screens */
@media screen and (min-width: 65rem) {
    .card {
        width: calc((100% - 2rem)/3);
    }
}