:root {
    --header: #263238;
    --body: #455A64;
    --link: #14b8a6;
    --hover: #2dd4bf;
    --active: #99f6e4;
}

body{
    background-color: var(--body);
    font-family:sans-serif;
}

header{
    background-color: var(--header);
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.2)
}

.sr-only{
    display:none;
}

ul svg{
    width: 1.25rem;
    margin-right: 0.5rem;
}

nav{
    margin:0 auto;
    max-width:72rem;
}
ul{
    margin:0;
    padding:0;
}

ul a{
    color: var(--link);
    display:flex;
    justify-content:center;
    text-align:center;
    text-transform:uppercase;
    padding: 1rem;
    text-decoration:none;
}

svg path{
    fill:#26A69A;
}

ul.menu a:focus-within,
ul.menu a:focus svg path,
ul.menu a:hover,
ul.menu a:hover svg path{
    color: #1DE986;
    fill:#1DE986;
}

ul.menu a:active,
ul.menu a:active svg path{
    color:#A7FFEB;
    fill: #A7FFEB;
}

@media screen and (min-width: 64rem){
   ul.menu{
    display:flex;
    justify-content:space-between;
   }

}