/* 
    COLOUR PALETTE

    cyan-950:  #083344
    cyan-900:  #164e63
    cyan-800:  #155e75
    body-copy: #f7ffff
*/

.container{
    background-color: #083344;
    color:#f7ffff;
    font-family:"Noto Serif", serif;
    width:960px;
}

.inner-container{
    padding:32px 16px;
    background-color: #164e63;
    border-radius:4px;
    margin:0 auto;

    /*Making the inner-container a flexbox*/
    display:flex;
    flex-wrap: wrap;
    gap:16px;
}

.inner-container{
    width:100%;
}

h1{
    font-size:36px;
    font-weight:400;
    text-align:center;
}

h1{
    width: 100%;
}

p{
    background-color: #155e75;
    border: 1px solid #083344;
    border-radius: 4px;
    padding:16px;
}

/*Make the width of the paragraph relative to the parent - the gaps*/
p{
   width: calc((100% - 32px)/3);
}

/*We change the box-sizing property of all elements to border-box*/
*{
    box-sizing:border-box;
}